<!DOCTYPE html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
{% extends 'main_app/base.html' %}
{% load static %}
{% block page_title %}{{ page_title }}{% endblock page_title %}

{% block content %}
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">{{ page_title }}</h3>
                        </div>

                        {% include "main_app/form_template.html" with messages=messages  form=form button_text="添加照片" %}
                    </div>
                    <!-- /.card -->

                </div>
            </div>
        </div>
    </section>
    <br><br>
    {% for i in all_img %}
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                <div class="col-md-12">
                <div class="card bg-dark text-white">
                    <img class="card-img" src={{ i.groupImg.url }} alt="Card image">
                    <div class="card-img-overlay">
                        <h5 class="card-title">{{ i.title }}</h5>
                        <p class="card-text">Created at {{ i.created_at }}</p>
                        <p class="card-text">Powered by Django Framework and Pillow package.</p>
                    </div>
                </div>
                </div>
                </div>
            </div>
        </section>
    {% endfor %}

{% endblock content %}