{% extends 'main_app/base.html' %}
{% load static %}
{% block page_title %}{{page_title}}{% endblock page_title %}

{% block content %}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-lightblue">
                    <div class="card-header">
                        <h3 class="card-title">学生准考证号管理
                        </h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>序号</th>
                                    <th>学号</th>
                                    <th>考试类型</th>
                                    <th>准考证号</th>
                                    <th>识别码</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for en in examNum %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{en.StuId}}</td>
{#                                    <td>{{en.examMode}}</td>#}
                                    {% if en.examMode == '00' %}
                                            <td>期末考试</td>
                                    {% elif en.examMode == '01' %}
                                            <td>期中考试</td>
                                    {% elif en.examMode == '10' %}
                                            <td>课程测试</td>
                                    {% elif en.examMode == '11' %}
                                            <td>特种考试</td>
                                    {% endif %}
                                    <td>{{en.examNum}}</td>
                                    <td>
{#                                        {% if staff.profile_pic == ""  %}#}
{#                                        No Image#}
{#                                        {% else %}#}
                                        <img class="img img-fluid mb-2" height="55" width="165"
                                            src="/media/code-img/{{ en.examNum }}.png" alt="123">
{#                                        {% endif %}#}
                                    </td>
                                    <td>
                                        <a href="{% url 'delete_en' en.id %}" onclick="return confirm('确定要删除该项吗？')" class="btn btn-danger">删除</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}